<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Electricity Cost</title>
    <style>
        table{text-align: center}
    </style>
</head>
<body>
<h1>
    Electricity Costs:
</h1>
<h4>
    Price is written in öre/kWh
</h4>

<table>
    <tr>
        <th>
            Date |
        </th>
        <th>
            | Cost
        </th>
    </tr>
    <tr th:each="Electricity : ${Elec_List}">
        <td th:text="${Electricity.getDate}"></td>
        <td th:text="${Electricity.getCost}"></td>

    </tr>
</table>

</body>
</html>